<app-navbar></app-navbar>

<app-aside/>

<app-barraequipos></app-barraequipos>

<h1>Mejor Fichaje</h1>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="left: 18%;width: calc((25% - 0.5px) * 1 + 0px);margin-top: 0px;padding-top: calc((25% - 0.5px) * 1 + 0px);" ><img src="./assets/cartaNormal.png" class="escudo"></mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>

<h1>Mercado</h1>
<div class="mercado" style="width: 60%; height: 400px;">
    <p>pruebaa</p>
    <img src="./assets/cartaNormal.png" class="escudo">
</div>

<p></p>
