<div class="escudos">
    <img src="./assets/escudos/barcelona.png" class="escudo">
    <img src="./assets/escudos/betis.png" class="escudo">
    <img src="./assets/escudos/alaves.png" class="escudo">
    <img src="./assets/escudos/almeria.png" class="escudo">
    <img src="./assets/escudos/atletic.png" class="escudo">
    <img src="./assets/escudos/atletico.png" class="escudo" style="width: 33px;">
    <img src="./assets/escudos/cadiz.png" class="escudo" style="width: 30px;">
    <img src="./assets/escudos/celta.png" class="escudo">
    <img src="./assets/escudos/getafe.png" class="escudo">
    <img src="./assets/escudos/girona.png" class="escudo">
    <img src="./assets/escudos/granada.png" class="escudo">
    <img src="./assets/escudos/palmas.png" class="escudo" style="width: 25px;">
    <img src="./assets/escudos/mallorca.png" class="escudo" style="width: 35px;">
    <img src="./assets/escudos/osasuna.png" class="escudo">
    <img src="./assets/escudos/madrid.png" class="escudo">
    <img src="./assets/escudos/sociedad.png" class="escudo" style="width: 40px;">
    <img src="./assets/escudos/sevilla.png" class="escudo" style="width: 37px;">
    <img src="./assets/escudos/valencia.png" class="escudo">
    <img src="./assets/escudos/villarreal.png" class="escudo">
</div>