<div class="container">
    <!-- Contenedor de la barra de herramientas -->
    <mat-toolbar style="background-color: #235f97;" class="fixed-toolbar">
        <!-- Logo a la izquierda -->
        <div class="toolbar-left">
            <img src="./assets/logo.png" alt="Logo de la aplicación" class="logo">
        </div>


        <!-- Subcomponente de búsqueda -->
        <div class="toolbar-center">
            <app-barrabusqueda></app-barrabusqueda>
        </div>

        <!-- Subcomponente de menú -->
        <div class="toolbar-right">
            <app-btnmenu></app-btnmenu>
        </div>
    </mat-toolbar>
</div>
