<div class="container">
  <img src="../../../../assets/cartaMejor.png" class="image" />
  <img src="{{ urlImagenJugador }}" class="playerImage" />
  <img src="../../../../assets/escudos/{{this.nombreEquipo}}.png" class="teamImage" />
  <div class="nameText">
    <strong>{{ nombre }}</strong>
  </div>
  <div class="precio">
    <strong>{{ precio }}</strong>
  </div>
  <div class="totalPuntos">
    <strong>{{ totalPuntos }}</strong>
  </div>
  <div class="posicion">
    <strong>{{ posicion }}</strong>
  </div>
  <div class="mediaSofascore">
    <strong>{{ mediaSofascore }}</strong>
  </div>
  <div class="mediaPuntos">
    <strong>{{ mediaPuntos }}</strong>
  </div>
  <div class="campoPrecio"><strong>Precio: </strong></div>
  <div class="campoMediaSofascore"><strong>MS: </strong></div>
  <div class="campoMediaPuntos"><strong>MP: </strong></div>
</div>


